.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-delete-custom {
  background-color: transparent; /* Removes the background color */
  color: red; /* Sets the text color to red */
  border: none; /* Removes the border */
  text-decoration: none;
}

.review {
  margin-bottom: 15px;
}

.review hr {
  border-top: 1px solid #ccc;
}

.stars {
  color: #aaa; /* Default star color */
}

.star-rating {
  direction: rtl; /* Right-to-left direction */
}

.star-rating-star {
  font-size: 30px;
  color: #aaa; /* Default color */
  cursor: pointer;
  direction: ltr; /* Left-to-right for the stars themselves */
}

.star-rating-input:checked ~ .star-rating-star {
  color: #ffc107; /* Gold color for selected and preceding stars */
}

.star-rating-input {
  display: none; /* Hide the radio buttons */
}
